/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2FA1TLQFjrajmUM%2Fgiphy.gif&f=1&nofb=1&ipt=304dd9c78f068c112c24b0e84e3b28afe688a3b24b0e84e3b28afe688a3b44aad5aace967ddcb905277ad&ipo=images");
  background-size: cover;
  background-position: center;
  color: #fff; /* Tüm metinleri beyaz yaparak GIF üzerinde daha iyi görünmesini sağlar */
}

/* Section Styles */
section {
  padding: 50px 0;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.feature-box, .installation-step, .usage-step, .requirement, .contribution-step {
  background-color: rgba(255, 255, 255, 0.8); /* Şeffaf beyaz arka plan */
  border: 1px solid #fff;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.feature-box:hover, .installation-step:hover, .usage-step:hover, .requirement:hover, .contribution-step:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
}

/* Özellik kutularına ışıma efekti ekleme (daha az kullanılmış) */
.feature-box {
  /* Burada daha az belirgin bir ışıma efekti ekleyebilirsiniz */
  box-shadow: 0 0 5px rgba(255, 105, 180, 0.2);
}

/* Footer */
footer {
  background-color: rgba(0, 0, 0, 0.7); /* Şeffaf siyah arka plan */
  color: #fff;
  padding: 20px;
}
